APP_DOMAIN=app.example.com
STORAGE_DOMAIN=s3.example.com
CDN_DOMAIN=cdn.example.com
CDN_PROXY_URL=snack-rate-public.garage:3902
STAGING_APP_DOMAIN=staging.app.example.com
STAGING_BASIC_AUTH_USER=staging
STAGING_BASIC_AUTH_HASH=examplehash