node_modules
.DS_Store
dist
dist-ssr
*.local
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json
log-files
coverage
.env.development
.env.staging
.env.production
.env.caddy
caddy-root.crt
.pnpm-store

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
