{
    log {
        output stdout
        format json
    }
}

{$APP_DOMAIN} {
    handle /grafana* {
        uri strip_prefix /grafana
        reverse_proxy prod-grafana:3000
    }
    
    handle {
        reverse_proxy prod-app:{$APP_PORT}
    }
}

{$STORAGE_DOMAIN} {
    handle {
        header Cache-Control "public, max-age=31536000, immutable"
        reverse_proxy garage:3900
    }
}

{$CDN_DOMAIN} {
    handle {
        reverse_proxy {$CDN_PROXY_URL}
    }

    @static {
        path *.js *.css *.png *.jpg *.webp *.svg *.woff2
    }

    header @static Cache-Control "public, max-age=31536000, immutable"
}

{$STAGING_APP_DOMAIN} {
    route {
        handle /robots.txt {
            respond <<ROBOTS
                User-agent: *
                Disallow: /
                ROBOTS 200
        }

        basic_auth {
            {$STAGING_BASIC_AUTH_USER} {$STAGING_BASIC_AUTH_HASH}
        }

        handle /grafana* {
            uri strip_prefix /grafana
            reverse_proxy staging-grafana:3000
        }

        handle {
            reverse_proxy staging-app:{$APP_PORT} {
                lb_try_duration 30s
                lb_try_interval 1s

                transport http {
                    dial_timeout 10s
                    read_timeout 120s
                    write_timeout 120s
                }
            }
        }
    }
}